<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>List {{selectedItem ? selectedItem : "-"}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div *ngIf="isDev" padding>
    <button ion-button small (click)="gotoPrevious()">Prev</button>
    {{pageNo + 1}}/{{maxPageNo}}
    <button ion-button small (click)="gotoNext()">Next</button>
  </div>
  <div *ngIf="page" ion-grid padding class="row responsive-sm">
    <ion-row>
      <div ion-col col-12 col-sm>
        <p *ngFor="let p of page.htmlLemmaPs" [innerHTML]="p"></p>
      </div>
      <div *ngFor="let image of page.images"  ion-col col-12 col-sm class="image">
        <img [src]="'./assets/data/les-4/' + image.fileName" [alt]="image.fileName"/>
      </div>
    </ion-row>
  </div>
  <div *ngIf="page" padding>
    <p *ngFor="let p of page.questionPs" [innerHTML]="p"></p>
  </div>
  <div *ngIf="page" padding>
    <button *ngFor="let answer of page.answers"
            ion-button full
            class="answer-button"
            (click)="handleAnswer(answer, pageNo)">{{answer.item}} - {{answer.text}}</button>
  </div>
</ion-content>
