<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>List {{selectedItem ? selectedItem : "-"}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div padding>
    <button ion-button small (click)="gotoPrevious()">Prev</button>
    {{pageNo + 1}}/{{maxPageNo}}
    <button ion-button small (click)="gotoNext()">Next</button>
  </div>
  <div *ngIf="page" padding>
    <p *ngFor="let p of page.htmlLemmaPs" [innerHTML]="p"></p>
  </div>
  <div *ngIf="page" padding>
    <p *ngFor="let p of page.questionPs" [innerHTML]="p"></p>
  </div>
  <div *ngIf="page" padding>
    <button *ngFor="let answer of page.answers"
            ion-button full
            class="answer-button"
            (click)="handleAnswer(answer, pageNo)">{{answer.item}} - {{answer.text}}</button>
  </div>
</ion-content>
